html, body { margin:0; padding:0; overflow:hidden }
/*
svg { position:fixed; top:1; bottom:0; left:0; right:1; z-index: 1; }
*/


.title {
    margin: 0px;
    margin: 0px;
    font: 60px sans-serif;
    width:auto;
    color: #ffffff;
    pointer-events: none;
    text-align: center;
    background: #cccccc;
}

#container {
    position: fixed;
    left: 5%;
    top: 15%;
    text-anchor: middle;
}

#charts {
    position: fixed;
    left: 30%;
    top: 10%;
    text-anchor: middle;
    z-index: 5;
}

#berta {
    font: 50px sans-serif;
    color: white;
    position: fixed;
    left: 10%;
    top: 30%;
    text-anchor: middle;
}
