html, body { margin:0; padding:0; overflow:hidden }
/*
svg { position:fixed; top:1; bottom:0; left:0; right:1; z-index: 1; }
*/

.title {
    margin: 0px;
    margin: 0px;
    font: 60px sans-serif;
    width:auto;
    color: #ffffff;
    pointer-events: none;
    text-align: center;
    background: #444444;
}

#container {
    position: fixed;
    left: 2%;
    top: 15%;
    text-anchor: middle;
}

#charts {
    position: fixed;
    left: 27%;
    top: 10%;
    text-anchor: middle;
    z-index: 5;
}

#berta {
    font: 50px sans-serif;
    color: white;
    position: fixed;
    left: 10%;
    top: 30%;
    text-anchor: middle;
}

.d3-tip {
    line-height: 1;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 2px;
    background: #777777;
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    z-index: 10;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #777777;
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
